# Auto detect text files and perform LF normalization
* text=auto
# Track large prebuilt libraries via Git LFS
# Windows
project/luau/lib/Windows/**/*.lib filter=lfs diff=lfs merge=lfs -text
# Unix-like static libraries
project/luau/lib/**/*.a filter=lfs diff=lfs merge=lfs -text
project/luau/lib/**/*.lib filter=lfs diff=lfs merge=lfs -text
